:root {
  --bg-color: #fff;
  --text-color: #000;
  --card-bg-color: beige;
}

[data-theme="dark"] {
  --bg-color: #3f3f3f;
  --text-color: #fff;
  --card-bg-color: #222;
}
.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.user-pagination {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 20px !important;
}

.pagination-container{
  display: flex;
  justify-content:center;
  align-items: center;
}

@media (max-width: 767px) {
  .container {
    padding: 0 !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
